.filedrop-container {
 	display: flex;
 	flex-direction: column;
 	width: 400px;
 	margin: 20px auto 0 auto;
}

.filedrop-file-input {
 	display: none;
}

.filedrop {
 	background-color: white;
 	position: relative;
}

.filedrop,
.filedrop-pb {
 	flex-direction: column;
}

.filedrop-pb {
 	color: black;
 	width: 100%;
 	height: 45px;
 	max-width: 390px;
 	background-color: #cfe4fa;
 	text-align: center;
 	line-height: 18px;
}

.filedrop-pb-file {
 	margin-top: 5px;
 	display: none;
}

.filedrop-pb-total {
 	margin: 3px 0 5px 0;
 	display: none;
}

.filedrop-pb-text {
 	width: 390px;
 	padding: 1px;
 	display: -webkit-box;
 	-webkit-line-clamp: 1;
 	-webkit-box-orient: vertical;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	word-break: break-all;
}

.filedrop-center-text {
 	position: absolute;
 	top: 0;
 	left: 50%;
 	transform: translateX(-50%);
}

.filedrop-center-text.uploading {
	visibility: hidden;
}

.filedrop-center-text.filedrop-uploading::before {
    content: "Uploading...";
		visibility: visible;
		display: inline-block;
		min-width: 400px;
}

.filedrop-error-div {
 	display: none;
 	flex-direction: column;
 	width: 100%;
 	min-height: auto;
 	background-color: #f4cecd;
 	text-align: left;
 	margin-bottom: 10px;
}

.filedrop-error-div li {
 	display: -webkit-box;
 	-webkit-line-clamp: 1;
 	-webkit-box-orient: vertical;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	word-break: break-all;
}
