.container {
 	display: flex;
 	flex-direction: column;
 	width: 400px;
 	margin: 20px auto 0 auto;
}

.file-input {
 	display: none;
}

.file-drop,
.progress-bar {
 	flex-direction: column;
}

.file-drop {
 	background-color: white;
 	position: relative;
}

.progress-bar {
 	color: black;
 	width: 100%;
 	height: 45px;
 	max-width: 390px;
 	background-color: #cfe4fa;
 	text-align: center;
 	line-height: 18px;
}

.progress-bar-file {
 	margin-top: 5px;
 	display: none;
}

.progress-bar-total {
 	margin: 3px 0 5px 0;
 	display: none;
}

.pb-text {
 	width: 390px;
 	padding: 1px;
 	display: -webkit-box;
 	-webkit-line-clamp: 1;
 	-webkit-box-orient: vertical;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	word-break: break-all;
}

.center-text {
 	position: absolute;
 	top: 0;
 	left: 50%;
 	transform: translateX(-50%);
}

.error-div {
 	display: none;
 	flex-direction: column;
 	width: 100%;
 	min-height: auto;
 	background-color: #f4cecd;
 	text-align: left;
 	margin-bottom: 10px;
}

.error-div li {
 	display: -webkit-box;
 	-webkit-line-clamp: 1;
 	-webkit-box-orient: vertical;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	word-break: break-all;
}
