.container {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	width: 300px;
 	margin: 0 auto;
}

#file-input {
 	display: none;
}

.file-drop {
 	width: 300px;
 	height: 100px;
 	border: 5px dashed black;
 	text-align: center;
 	line-height: 100px;
 	margin-top: 20px;
 	position: relative;
}

.progress-bar-file,
.progress-bar-total {
 	display: none;
 	color: black;
 	width: 100%;
 	height: 20px;
 	max-width: 290px;
 	background-color: #f2f2f2;
 	text-align: center;
 	line-height: 20px;
 	margin-left: 5px;
 	margin-right: 5px;
}

#progress-bar-file {
 	margin-top: 5px;
 	display: block;
}

#progress-bar-file-name {
 	top: 20px;
 	display: block;
}

#progress-bar-total {
 	margin-top: 5px;
 	display: block;
}

#progress-bar-total-count {
 	bottom: 5px;
 	display: block;
}

#pb-total,
#pb-file {
 	min-width: 290px;
 	max-width: 290px;
 	white-space: pre;
 	display: block;
}

#pb-file-name,
#pb-total-count {
 	min-width: 290px;
 	max-width: 290px;
 	position: absolute;
 	left: 50%;
 	transform: translateX(-50%);
}
