.ol-mouse-position, .layer-switcher {
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 14px;
}
.ol-mouse-position:empty { display: none; }
.ol-mouse-position {
	bottom: 35px; left: 8px;
	top: unset; right: unset;
	padding: 2px 8px;
	background-color: #fff8;
	position: absolute;
}
.layer-switcher { top: unset; bottom: 8px; right: 8px; }
.layer-switcher button { background-color: #fff8; }
.layer-switcher ul { margin: 8px; padding: 0; }
.layer-switcher li { margin: 0; padding: 0; }
.layer-switcher li label { margin: 0; padding: 0 !important; }
.layer-switcher li input {
	position: relative;
	left: auto;
	margin: 0 4px 0 0;
	padding: 0;
}
.layer-switcher ul ul { margin-left: 4px; padding: 0; }
.layer-switcher ul ul li { margin: 4px 0; }
.ol-popup {
	border: 2px solid #999;
	background-color: #fff;
	display: none;
	cursor: default;
}
.ol-popup-titlebar {
	height: 25px;
	font-size: 16px;
	padding-left: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	background-color: #276f93;
	user-select: none;
	position: relative;
}
.ol-popup-titlebar::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-bottom: 25px solid transparent;
	border-left: 25px solid #999;
}
#popup-page-number { width: 150px; text-align: center; }
.popup-nav-btn {
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	transform: translateY(-2px);
	margin: 0 50px;
	visibility: hidden;
}
#popup-closer {
	font-size: 26px;
	font-weight: bold;
	cursor: pointer;
	padding-right: 5px;
}
.ol-popup-content { max-height: 250px; min-width: 250px; overflow-y: auto; }
.ol-popup-content table { border-collapse: collapse; width: 100%; display: none; }
.ol-popup-content table th, .ol-popup-content table td { vertical-align: top;
	padding: 4px 8px;	text-align: left; }
.ol-popup-content table td.indent { padding-left: 25px; }
#tmpl-popup-nearby-neighbors { padding-left: 15px; }
.keyword-wrap {
	max-width: 300px;
	min-width: 300px;
	word-wrap: break-word;
}
.visible { visibility: visible; }
.show { display: block !important; }
