fieldset, legend {
	border: 1px solid #194a6b; background-color: #fff;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
fieldset { margin: 8px 8px 0 8px; }
legend { padding: 0 8px; }
table { max-width: 600px; }
#map { flex: 1; min-width: 400px; min-height: 400px;}
.files div:not(:last-of-type) { margin-bottom: 16px; }
.apptmpl-content { display: flex; flex-wrap: wrap;}
.apptmpl-content fieldset { flex-grow: 1;}
.fs-map {	display: flex; flex-grow: 10; }
.fs-detail { min-width: 350px; flex-basis: 0; }
.flex-break { height: 0; flex-basis: 100%; }
.tb-fields { border-collapse: separate; }
.tb-fields th, .tb-fields td {
	text-align: left; vertical-align: top;
	padding: 0 4px;
}
.tb-fields tr:not(:last-of-type) td { padding-bottom: 8px;}
.tb-spacer-bg:not(:first-of-type) th, .tb-spacer-bg:not(:first-of-type) td {padding-top: 70px;}
.tb-spacer-sm:not(:first-of-type) th, .tb-spacer-sm:not(:first-of-type) td {padding-top: 25px;}
.tb-columns th {	padding-right: 50px; }

#stash-dd table { border-collapse: collapse; font-size: 12px; font-family: Tahoma, Geneva, sans-serif; }
#stash-dd table th { text-align: left; }
#stash-dd table th, #stash-dd table td { border: 1px solid #bbb; padding: 4px 8px; }
#stash-dd table tr:nth-child(odd){ background-color: #eee; }
.ol-popup { border: 2px solid #999; background-color: #fff; display: none; }
.ol-popup-top {
	padding: 2px 4px;
	display: flex;
	color: #fff;
	background: linear-gradient(315deg, #276f93 94%, #999 94%);
}
.ol-popup-top-title { text-align: center; font-size: 18px; flex-grow: 1; }
.ol-popup-content { max-height: 250px; min-width: 250px; overflow-y: auto; }
.ol-popup-content table { border-collapse: collapse; width: 100%; }
.ol-popup-content table:not(:last-of-type) { margin-bottom: 24px; }
.ol-popup-content table th, .ol-popup-content table td {
	vertical-align: top;
	padding: 4px 8px;
	text-align: left;
}
#popup-closer { font-weight: bold; font-size: 20px; cursor: pointer; }
