fieldset, legend {
	border: 1px solid #194a6b; background-color: #fff;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
fieldset { margin: 8px 8px 0 8px; }
legend { padding: 0 8px; }
/* #map { width: 100%; height: 100%; min-width: 400px; min-height: 400px; } */
#map { flex: 1; min-height: 400px;}
.files div:not(:last-of-type) { margin-bottom: 16px; }
.apptmpl-content { display: flex; flex-wrap: wrap; }
.apptmpl-content fieldset { flex-grow: 1; }
/* .fs-map { flex-grow: 10; } */
.fs-map {
	display: flex;
	flex-grow: 10;
}
.fs-detail { min-width: 350px; flex-basis: 0; }
.flex-break { height: 0; flex-basis: 100%; }
.tb-fields { border-collapse: separate; }
.tb-fields th, .tb-fields td {
	text-align: left; vertical-align: top;
	padding: 0 4px;
}
.tb-fields tr:not(:last-of-type) td { padding-bottom: 8px;}

.tb-fields tr.horizontal-spacer>td {
	height: 1em;
}

#stash-dd table { border-collapse: collapse; font-size: 12px; font-family: Tahoma, Geneva, sans-serif; }
#stash-dd table th { text-align: left; }
#stash-dd table th, #stash-dd table td { border: 1px solid #bbb; padding: 4px 8px; }
#stash-dd table tr:nth-child(odd){ background-color: #eee; }



.ol-mouse-position:empty { display: none; }
.ol-mouse-position {
	top: 8px; right: 8px;
	padding: 2px 8px;
	background-color: #ffffff80;
	position: absolute;
	font-size: 14px;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.ol-popup { border: 2px solid #999; background-color: #fff; display: none; }
.ol-popup-top {
	padding: 2px 4px;
	display: flex;
	color: #fff;
	background: linear-gradient(315deg, #276f93 94%, #999 94%);
}
.ol-popup-top-title { text-align: center; font-size: 18px; flex-grow: 1; }
.ol-popup-content { max-height: 250px; min-width: 250px; overflow-y: auto; }
.ol-popup-content table { border-collapse: collapse; width: 100%; }
.ol-popup-content table:not(:last-of-type) { margin-bottom: 24px; }
.ol-popup-content table th, .ol-popup-content table td {
	vertical-align: top;
	padding: 4px 8px;
	text-align: left;
}
#popup-closer { font-weight: bold; font-size: 20px; cursor: pointer; }
.layer-switcher {
	top: auto; bottom: 8px; right: 8px;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 14px;
}
.layer-switcher button { background-color: #ffffff80; }
.layer-switcher ul { margin: 8px; padding: 0; }
.layer-switcher li { margin: 0; padding: 0; }
.layer-switcher li label { margin: 0; padding: 0 !important; }
.layer-switcher li input {
	position: relative;
	left: auto;
	margin: 0; margin-right: 4px;
	padding: 0;
}
.layer-switcher ul ul { margin-left: 4px; padding: 0; }
.layer-switcher ul ul li { margin: 4px 0; }
