.apptmpl-content {
	display: flex;
	flex-flow: column;
	height: 100%;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.apptmpl-content .content {
	flex: 1 1 auto;
}
#map { height: 100%; }
.indent {padding-left: 10px;}
.ol-popup {
	position: relative;
	margin-top: 10px;
	background-color: #fff;
	box-shadow: 0 1px 4px #00000033;
	padding-bottom: 5px;
	border: 1px solid #ccc;
	bottom: 12px;
	width: 250px;
	visibility: hidden;
}
.ol-popup-closer::after {
	cursor: pointer;
	content: "\2715";
	font-size: 20px;
	margin-left: auto;
}
.popup-content {
	padding: 10px 5px 5px 5px;
	max-height: 300px;
	overflow: auto;
	font-size: 12px;
}
.popup-topbar {
	background: linear-gradient(315deg, #276f93 94%, #999 94%);
	padding: 5px;
	display: flex;
	align-items: center;
	font-size: 14px;
	cursor: default;
	visibility: hidden;
}
.popup-topbar div {
	color: #fff;
	padding: 2px;
	display: flex;
	letter-spacing: 0.5px;
	text-decoration: none;
	transition: 0.6s;
	user-select: none;
}
.prevBtn {
	cursor: pointer;
	width: 50%;
	display: flex;
	justify-content: center;
}
.pageNumber {
	width: 50%;
	display: flex;
	justify-content: center;
}
.nextBtn {
	cursor: pointer;
	width: 50%;
	display: flex;
	justify-content: center;
}
.wellList {
	display: block
}
@media (min-width: 400px) {
	.ol-popup {
		width: 275px;
	}
	.popup-content {
		font-size: 14px;
	}
	.popup-topbar {
		font-size: 16px;
	}
}
@media (min-width: 640px) {
	.ol-popup {
		width: 325px;
	}
	.popup-content {
		font-size: 16px;
	}
	.popup-topbar {
		font-size: 18px;
	}
}

