			<fieldset class="fs-detail">
				<legend>Borehole Detail</legend>
				<table class="tb-fields">
					<tbody>
						{{- if .prospect_id}}
						<tr>
							<th>Prospect Name</th>
							<td><a href="../prospect/{{.prospect_id}}">{{.prospect_name}}</a></td>
						</tr>
						{{- end}}
						{{- if .alt_prospect_names}}
						<tr>
							<th>Alternatives Prospect Name(s)</th>
							<td>{{.alt_prospect_names}}</td>
						</tr>
						{{- end}}
						{{- if .ardf_number}}
						<tr>
							<th>ARDF Number</th>
							<td><a href="http://mrdata.usgs.gov/ardf/show-ardf.php?ardf_num={{.ardf_number}}">{{.ardf_number}}</a></td>
						</tr>
						{{- end}}
						<tr>
							<th>Borehole Name</th>
							<td>{{.name}}</td>
						</tr>
						{{- if .completion_date}}
						<tr>
							<th>Completion Date</th>
							<td>{{formattime "1/2/2006" .completion_date}}</td>
						</tr>
						{{- end}}
						{{- if .quadrangles}}
						<tr>
							<th>Quadrangle</th>
							<td>{{range $i, $qd := .quadrangles}}{{if ne $i 0}}, {{end}}<a href="../search#quadrangle_id={{$qd.quadrangle_id}}">{{$qd.name}}</a>{{end}}</td>
						</tr>
						{{- end}}
						{{- if .mining_districts}}
						<tr>
							<th>Mining District</th>
							<td>{{range $i, $md := .mining_districts}}{{if ne $i 0}}, {{end}}<a href="../search#mining_district_id={{$md.mining_district_id}}">{{$md.name}}</a>{{end}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- if .geojson}}

			<fieldset class="fs-map">
				<legend>Geospatial</legend>
				<div id="map"></div>
				<div id="popup" class="ol-popup">
					<div class="ol-popup-top">
						<div class="ol-popup-top-title">Borehole(s)</div>
						<div id="popup-closer">&#215;</div>
					</div>
					<div id="popup-content" class="ol-popup-content"></div>
				</div>
				<script>
					var geojson = {{rawjs .geojson}};
				</script>
			</fieldset>
			<div class="flex-break"></div>
			{{- end}}
			{{- if .inventory}}

			<fieldset>
				<legend>Inventory</legend>
				{{- $prospect_id := .prospect_id }}
				<table class="tb-fields">
					<thead>
						<tr>
							<th>Keywords</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						{{- range .inventory}}
						<tr>
							<td><a href="../search#prospect_id={{$prospect_id}}{{range .keywords}}&keyword={{.}}{{end}}">{{range $i, $kw := .keywords}}{{if ne $i 0}} &gt; {{end}}{{$kw}}{{end}}</a></td>
							<td>{{.count}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- end}}
			{{- if .files}}

			<fieldset class="files">
				<legend>Files</legend>
				{{- range .files}}
				<div><a href="../file/{{.file_id}}/{{.file_name}}">{{.file_name}}</a> ({{.file_size}})</div>
				{{- end}}
			</fieldset>
			{{- end}}
