{{with .outcrop }}
			<fieldset class="fs-detail">
				<legend>Outcrop Detail</legend>
				<table class="tb-fields">
					<tbody>
						{{- if .Name}}
						<tr>
							<th>Outcrop Name</th>
							<td>{{.Name}}</td>
						</tr>
						{{- end}}
						{{- if .Number}}
						<tr>
							<th>Outcrop Number</th>
							<td>{{.Number}}</td>
						</tr>
						{{- end}}
						{{- if .Year}}
						<tr>
							<th>Outcrop Year</th>
							<td>{{.Year}}</td>
						</tr>
						{{- end}}
						<tr>
							<th>Onshore</th>
							<td>{{- if .Onshore}}Yes{{- else}}No{{- end}}</td>
						</tr>
						{{- if .GeoJSON}}
							{{- range $i, $f := .GeoJSON.features}}{{- if ne $i 0}}{{- end}}{{- if (eq $f.geometry.type "Point" )}}
							<tr>
								<th>Lon/Lat</th>
								<td>{{- range $i, $coor := $f.geometry.coordinates}}{{- if ne $i 0}}, {{- end}}
									{{$coor}}{{- end}}</td>
							</tr>
							{{- end}}
						{{- end}}
						{{- end}}
						{{- if .Quadrangles}}
						<tr>
							<th>Quadrangles</th>
							<td>{{range $i, $qd := .Quadrangles}}{{if ne $i 0}}, {{- end}}<a href="../search#quadrangle_id={{$qd.ID}}">{{$qd.Name}}</a>{{- end}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- if .GeoJSON}}

			<fieldset class="fs-map">
				<legend>Geospatial</legend>
				<div id="map"></div>
				<div id="popup" class="ol-popup">
					<div class="ol-popup-top">
						<div class="ol-popup-top-title">Outcrop(s)</div>
						<div id="popup-closer">&#215;</div>
					</div>
					<div id="popup-content" class="ol-popup-content"></div>
				</div>
				<script>
					var geojson = {{ rawjs .GeoJSON }};
				</script>
			</fieldset>
			<div class="flex-break"></div>
			{{- end}}
			{{- if .KeywordSummary}}

			<fieldset>
				<legend>Inventory</legend>
				<table class="tb-fields">
					<thead>
						<tr>
							<th>Keywords</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						{{- range .KeywordSummary}}
						<tr>
							<td><a href="../search#q=outcrop_id:{{$.outcrop.ID}}{{range .Keywords}}&keyword={{.}}{{- end}}">{{range $i, $kw := .Keywords}}{{if ne $i 0}} &gt; {{end}}{{$kw}}{{- end}}</a></td>
							<td>{{.Count}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- end}}
			{{- if $.user }}

			<fieldset>
				<legend>Files</legend>
				<div id="filedrop" data-outcrop_id="{{.ID}}">
				<div class="file-list-container" id="file-list-container">
					{{- range .Files}}
					<div>
					 <span class="gmc-file">
						<a href="../file/{{.ID}}">
						{{.Name}}</a> ({{.FormattedSize}})</span>
					</div>
					{{- end}}
				</div>
				</div>
			</fieldset>
			{{- end}}
			{{- if .Organizations}}

			<fieldset>
				<legend>Organizations</legend>
				<table class="tb-fields">
					<thead>
						<tr>
							<th>Organization</th>
							<th> Type</th>
						</tr>
					</thead>
					<tbody>
						{{- range .Organizations}}
						<tr>
							<td>{{.Name}}</td>
							<td>{{.Type}}</td>
						</tr>
					</tbody>
					{{- end}}
				</table>
			</fieldset>
			{{- end}}
			{{- if .URLs}}

			<fieldset>
				<legend>URLs</legend>
				{{- range .URLs}}
				<div><a href="{{.URL}}">{{.Description}}</a> ({{.Type}})</div>
				{{- end}}
			</fieldset>
			{{- end}}
			{{- if and $.user .Notes}}

			<fieldset>
				<legend>Notes</legend>
				<table class="tb-fields tb-columns">
					<thead>
						<tr>
							<th>Date</th>
							<th>User</th>
							<th>Public</th>
							<th>Note</th>
						</tr>
					</thead>
					<tbody>
						{{- range .Notes}}
						<tr>
							<td>{{.Date.Format "1/2/2006"}}</td>
							<td>{{.Username}}</td>
							<td>{{- if .Public}} Yes {{- else -}}No{{- end}} </td>
							<td>{{.Note}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- end}}
{{end}}
