{{with .outcrop}}
			<fieldset class="fs-detail">
				<legend>Outcrop Detail</legend>
				<table class="tb-fields">
					<tbody>
						{{- if .Name}}
						<tr>
							<th>Outcrop Name</th>
							<td>{{.Name}}</td>
						</tr>
						{{- end}}
						{{- if .Number}}
						<tr>
							<th>Outcrop Number</th>
							<td>{{.Number}}</td>
						</tr>
						{{- end}}
						{{- if .Year}}
						<tr>
							<th>Outcrop Year</th>
							<td>{{.Year}}</td>
						</tr>
						{{- end}}
						<tr>
							<th>Onshore</th>
							<td>{{- if .Onshore}}Yes{{- else}}No{{- end}}</td>
						</tr>
						{{- if .GeoJSON}}
						<tr>
							<th>Lon/Lat</th>
							<td id="latlon"></td>
						</tr>
						<script>
							var geojson = {{rawjs .GeoJSON}};
						</script>
						{{- end}}
						{{- if .Quadrangles}}
						<tr>
							<th>Quadrangle</th>
							<td>{{- range $i, $qd := .Quadrangles}}{{- if ne $i 0}}, {{- end}}
								{{$qd.Name}}{{- end}}
							</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- if .GeoJSON}}

			<fieldset class="fs-map">
				<legend>Geospatial</legend>
				<div id="map"></div>
				<div id="popup" class="ol-popup">
					<div class="ol-popup-titlebar">
						<div id="popup-title"></div>
						<div id="popup-closer">&#215;</div>
					</div>
					<div id="popup-content" class="ol-popup-content"></div>
				</div>
			</fieldset>
			<div class="flex-break"></div>

			<script id="tmpl-popup" type="x-tmpl-mustache">
				<table>
						<tbody>
							<tr>
								<th>Name</th>
								<td>[[name]]</td>
							</tr>
							[[#nearby_outcrops.length]]
							<tr>
								<th>Nearby Outcrops</th>
							</tr>
							[[/nearby_outcrops.length]]
							[[#nearby_outcrops]]
							<tr>
								[[#.]]
								<td id="tmpl-popup-nearby-neighbors"><a href="../outcrop/[[outcrop_id]]">[[name]]</a> ([[distance]] miles)</td>
								[[/.]]
							</tr>
							[[/nearby_outcrops]]
						</tbody>
					</table>
			</script>
			{{- end}}
			{{- if .KeywordSummary}}

			<fieldset>
				<legend>Inventory</legend>
				<table class="tb-fields">
					<thead>
						<tr>
							<th>Keywords</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						{{- range .KeywordSummary}}
						<tr>
							<td><a href="../inventory/search?q=outcrop.id:{{$.outcrop.ID}}{{range .Keywords}}&keyword={{.}}{{- end}}">{{range $i, $kw := .Keywords}}{{if ne $i 0}} &gt; {{end}}{{$kw}}{{- end}}</a></td>
							<td>{{.Count}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- end}}
			{{- if or .Files $.user}}

			<fieldset>
				<legend>Files</legend>
				{{- if $.user}}
					<div id="filedrop" data-outcrop_id="{{.ID}}">
				{{- end}}
				<div class="file-list-container" id="file-list-container">
					{{- range .Files}}
					<div>
					 <span class="gmc-file">
						<a href="../file/{{.ID}}">
						{{.Name}}</a> ({{.FormattedSize}})</span>
					</div>
					{{- end}}
				</div>
				</div>
			</fieldset>
			{{- end}}
			{{- if .Organizations}}

			<fieldset>
				<legend>Organizations</legend>
				<table class="tb-fields">
					<thead>
						<tr>
							<th>Organization</th>
							<th> Type</th>
						</tr>
					</thead>
					<tbody>
						{{- range .Organizations}}
						<tr>
							<td>{{.Name}}</td>
							<td>{{.Type.Name}}</td>
						</tr>
					</tbody>
					{{- end}}
				</table>
			</fieldset>
			{{- end}}
			{{- if .URLs}}

			<fieldset>
				<legend>URLs</legend>
				{{- range .URLs}}
				<div><a href="{{.URL}}">{{.Description}}</a> ({{.Type}})</div>
				{{- end}}
			</fieldset>
			{{- end}}
			{{- if $.user}}
			{{- if .Notes}}

			<fieldset>
				<legend>Notes</legend>
				<table class="tb-fields tb-columns">
					<thead>
						<tr>
							<th>Date</th>
							<th>Type</th>
							<th>User</th>
							<th>Public</th>
							<th>Note</th>
						</tr>
					</thead>
					<tbody>
						{{- range .Notes}}
						<tr>
							<td>{{.Date.Format "1/2/2006"}}</td>
							<td>{{.NoteType.Name}}</td>
							<td>{{.Username}}</td>
							<td>{{- if .Public}}Yes{{- else -}}No{{- end}}</td>
							<td>{{.Note}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- end}}
			{{- end}}
{{end}}
