			<fieldset class="fs-detail">
				<legend>Outcrop Detail</legend>
				<table class="tb-fields">
					<tbody>
						{{- if .name}}
						<tr>
							<th>Outcrop Name</th>
							<td>{{.name}}</td>
						</tr>
						{{- end}}
						{{- if .outcrop_number}}
						<tr>
							<th>Outcrop Number</th>
							<td>{{.outcrop_number}}</td>
						</tr>
						{{- end}}
						{{- if .year}}
						<tr>
							<th>Outcrop Year</th>
							<td>{{.year}}</td>
						</tr>
						{{- end}}
						{{- if .is_onshore}}
						<tr>
							<th>Onshore</th>
							<td>Yes</td>
						</tr>
						{{- end}}
						{{- if not .is_onshore }}
						<tr>
							<th>Onshore</th>
							<td>No</td>
						</tr>
						{{- end }}
						{{- if .geojson}}
							{{range $i, $f := .geojson.features}}{{if ne $i 0}}, {{end}}{{if (eq $f.geometry.type "Point" )}}
									<tr>
										<th>Lon/Lat</th>
										<td> {{$f.geometry.coordinates}}</td>
									</tr>
								{{- end}}
							{{- end}}
						{{- end}}
						{{- if .quadrangles}}
						<tr>
							<th>Quadrangle</th>
							<td>{{range $i, $qd := .quadrangles}}{{if ne $i 0}}, {{end}}<a href="../search#quadrangle_id={{$qd.quadrangle_id}}">{{$qd.name}}</a>{{end}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- if .geojson}}

			<fieldset class="fs-map" >
				<legend>Geospatial</legend>
				<div id="map" style=" height:500px width: 500px"></div>
				<div id="popup" class="ol-popup" >
					<div class="ol-popup-top">
						<div class="ol-popup-top-title">Outcrop(s)</div>
						<div id="popup-closer">&#215;</div>
					</div>
					<div id="popup-content" class="ol-popup-content" ></div>
				</div>
				<script>
					var geojson = {{rawjs .geojson}};
				</script>
			</fieldset>
			<div class="flex-break"></div>
			{{- end}}
			{{- if .inventory}}

			<fieldset>
				<legend>Inventory</legend>
				{{- $outcrop_id := .outcrop_id }}
				<table class="tb-fields">
					<thead>
						<tr>
							<th>Keywords</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						{{- range .inventory}}
						<tr>
							<td><a href="../search#outcrop_id={{$outcrop_id}}{{range .keywords}}&keyword={{.}}{{end}}">{{range $i, $kw := .keywords}}{{if ne $i 0}} &gt; {{end}}{{$kw}}{{end}}</a></td>
							<td>{{.count}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- end}}
			{{- if .files}}

			<fieldset class="files">
				<legend>Files</legend>
				{{- range .files}}
				<div><a href="../file/{{.file_id}}/{{.file_name}}">{{.file_name}}</a> ({{.file_size}})</div>
				{{- end}}
			</fieldset>
			{{- end}}
