{{with .prospect}}
			<fieldset class="fs-detail">
				<legend>Prospect Detail</legend>
				<table class="tb-fields">
					<tbody>
						{{- if .Name}}
						<tr>
							<th>Name</th>
							<td><a href="../search#prospect_id={{.ID}}">{{.Name}}</a></td>
						</tr>
						{{- end}}
						{{- if .AltNames}}
						<tr>
							<th>Alternative Name(s)</th>
							<td>{{.AltNames}}</td>
						</tr>
						{{- end}}
						{{- if .ARDFNumber}}
						<tr>
							<th>ARDF Number</th>
							<td><a href="http://mrdata.usgs.gov/ardf/show-ardf.php?ardf_num={{.ARDFNumber}}">{{.ARDFNumber}}</a></td>
						</tr>
						{{- end}}
						{{- if .Boreholes}}
						<tr>
							<th>Boreholes</th>
							<td>{{range $i, $bh := .Boreholes}}{{if ne $i 0}}, {{end}}<a href="../borehole/{{$bh.ID}}">{{$bh.Name}}</a>{{- end}}</td>
						</tr>
						{{- end}}
						{{- if .Quadrangles}}
						<tr>
							<th>Quadrangle</th>
							<td>{{range $i, $qd := .Quadrangles}}{{if ne $i 0}}, {{- end}}<a href="../search#quadrangle_id={{$qd.ID}}">{{$qd.Name}}</a>{{- end}}</td>
						</tr>
						{{- end}}
						{{- if .MiningDistricts}}
						<tr>
							<th>Mining District</th>
							<td>{{range $i, $md := .MiningDistricts}}{{if ne $i 0}}, {{- end}}<a href="../search#mining_district_id={{$md.ID}}">{{$md.Name}}</a>{{- end}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- if .GeoJSON}}

			<fieldset class="fs-map">
				<legend>Geospatial</legend>
				<div id="map"></div>
				<div id="popup" class="ol-popup">
					<div class="ol-popup-top">
						<div class="ol-popup-top-title">Borehole(s)</div>
						<div id="popup-closer">&#215;</div>
					</div>
					<div id="popup-content" class="ol-popup-content"></div>
				</div>
				<script>
					var geojson = {{rawjs .GeoJSON}};
				</script>
			</fieldset>
			<div class="flex-break"></div>

			<script id="tmpl-popup" type="x-tmpl-mustache">
				<table>
					<tbody>
						<tr>
							<th>Name</th>
							<td><a href="../borehole/[[borehole_id]]">[[name]]</a></td>
						</tr>
						[[#alt_names]]
						<tr>
							<th>Alt. Names</th>
							<td>[[alt_names]]</td>
						</tr>
						[[/alt_names]]
						[[#completion_date]]
						<tr>
							<th>Completion Date</th>
							<td>[[completion_date]]</td>
						</tr>
						[[/completion_date]]
					</tbody>
				</table>
			</script>
			{{- end}}
			{{- if .KeywordSummary}}

			<fieldset>
				<legend>Inventory</legend>
				<table class="tb-fields tb-columns">
					<thead>
						<tr>
							<th>Keywords</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						{{- range .KeywordSummary}}
						<tr>
							<td><a href="../search#prospect_id={{$.prospect.ID}}{{range .Keywords}}&keyword={{.}}{{- end}}">{{- range $i, $kw := .Keywords}}{{- if ne $i 0}} &gt; {{end}}{{$kw}}{{- end}}</a></td>
							<td>{{.Count}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- end}}
			{{- if or .Files $.user}}

			<fieldset>
				<legend>Files</legend>
				{{- if $.user}}
					<div id="filedrop" data-prospect_id="{{.ID}}">
				{{- end}}
				<div class="file-list-container" id="file-list-container">
					{{- range .Files}}
					<div>
					 <span class="gmc-file">
						<a href="../file/{{.ID}}">
						{{.Name}}</a> ({{.FormattedSize}})</span>
					</div>
					{{- end}}
				</div>
				</div>
			</fieldset>
			{{- end}}
{{end}}
