			<fieldset class="fs-detail">
				<legend>Prospect Detail</legend>
				<table class="tb-fields">
					<tbody>
						<tr>
							<th>Name</th>
							<td>{{.name}}</td>
						</tr>
						{{- if .alt_names}}
						<tr>
							<th>Alternative Name(s)</th>
							<td>{{.alt_names}}</td>
						</tr>
						{{- end}}
						{{- if .ardf_number}}
						<tr>
							<th>ARDF Number</th>
							<td><a href="http://mrdata.usgs.gov/ardf/show-ardf.php?ardf_num={{.ardf_number}}">{{.ardf_number}}</a></td>
						</tr>
						{{- end}}
						{{- if .boreholes}}
						<tr>
							<th>Boreholes</th>
							<td>{{range $i, $bh := .boreholes}}{{if ne $i 0}}, {{- end}}<a href="../borehole/{{$bh.borehole_id}}">{{$bh.name}}</a>{{- end}}</td>
						</tr>
						{{- end}}
						{{- if .quadrangles}}
						<tr>
							<th>Quadrangle</th>
							<td>{{range $i, $qd := .quadrangles}}{{if ne $i 0}}, {{- end}}<a href="../search#quadrangle_id={{$qd.quadrangle_id}}">{{$qd.name}}</a>{{- end}}</td>
						</tr>
						{{- end}}
						{{- if .mining_districts}}
						<tr>
							<th>Mining District</th>
							<td>{{- range $i, $md := .mining_districts}}{{- if ne $i 0}}, {{- end}}<a href="../search#mining_district_id={{$md.mining_district_id}}">{{$md.name}}</a>{{- end}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- if .geojson}}

			<fieldset class="fs-map">
				<legend>Geospatial</legend>
				<div id="map"></div>
				<div id="popup" class="ol-popup">
					<div class="ol-popup-top">
						<div class="ol-popup-top-title">Borehole(s)</div>
						<div id="popup-closer">&#215;</div>
					</div>
					<div id="popup-content" class="ol-popup-content"></div>
				</div>
				<script>
					var geojson = {{rawjs .geojson}};
				</script>
			</fieldset>
			<div class="flex-break"></div>

			<script id="tmpl-popup" type="x-tmpl-mustache">
				<table>
					<tbody>
						<tr>
							<th>Name</th>
							<td><a href="../borehole/[[borehole_id]]">[[name]]</a></td>
						</tr>
						[[#alt_names]]
						<tr>
							<th>Alt. Names</th>
							<td>[[alt_names]]</td>
						</tr>
						[[/alt_names]]
						[[#completion_date]]
						<tr>
							<th>Completion Date</th>
							<td>[[completion_date]]</td>
						</tr>
						[[/completion_date]]
					</tbody>
				</table>
			</script>
			{{- end}}
			{{- if .keywords}}

			<fieldset>
				<legend>Inventory</legend>
				<table class="tb-fields tb-columns">
					<thead>
						<tr>
							<th>Keywords</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						{{- range .keywords}}
						<tr>
							<td><a href="../search#prospect_id={{$.prospect_id}}{{range .keywords}}&keyword={{.}}{{- end}}">{{- range $i, $kw := .keywords}}{{- if ne $i 0}} &gt; {{end}}{{$kw}}{{- end}}</a></td>
							<td>{{.count}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- end}}
			{{- if .files}}

			<fieldset>
				<legend>Files</legend>
				{{- range .files}}
				<div><a href="../file/{{.file_id}}/{{.file_name}}">{{.file_name}}</a> ({{.file_size}})</div>
				{{- end}}
			</fieldset>
			{{- end}}
