			
			<div class="search-container">	
				<div id="map"></div>
				<div id="result-control">
					<div>
						<button id="result-reset">Reset</button>
						|
						Showing
						<select autocomplete="off" name="size" id="size">
							<option>10</option>
							<option data-default="true" selected>25</option>
							<option>50</option>
							<option>100</option>
							<option>250</option>
							<option>500</option>
							<option>1000</option>
							{{- if .user}}
							<option>2500</option>
							<option>5000</option>
							<option>10000</option>
							{{- end}}
						</select>
						|
						<button id="result-prev">Previous</button>
						Displaying <span id="result-from"></span>
						- <span id="result-to"></span> of
						<span id="result-total"></span>
						<button id="result-next">Next</button>
					</div>
					<div>
						Sort by
						<select autocomplete="off" name="sort">
						{{- range $i, $e := .sortby}}
							<option {{if eq $i 0}}data-default="true" {{end}}value="{{index . 0}}">{{index . 1}}</option>
						{{- end}}
						</select>
						<select autocomplete="off" name="dir">
							<option value="asc" data-default="true" selected>Asc</option>
							<option value="desc">Desc</option>
						</select>
						<select autocomplete="off" name="sort">
						{{- range $i, $e := .sortby}}
							<option {{if eq $i 0}}data-default="true" {{end}}value="{{index . 0}}">{{index . 1}}</option>
						{{- end}}
						</select>
						<select autocomplete="off" name="dir">
							<option value="asc" data-default="true" selected>Asc</option>
							<option value="desc" >Desc</option>
						</select>
					</div>
				</div>
				<div id="result"></div>
			</div>
