{{with .shotline }}
			<fieldset class="fs-detail">
				<legend>Shotline Detail</legend>
				<table class="tb-fields">
					<tbody>
						{{- if .Name}}
						<tr>
							<th>Shotline Name</th>
							<td>{{.Name}}</td>
						</tr>
						{{- end}}
						{{- if .AltNames}}
						<tr>
							<th>Alternative Shotline Name(s)</th>
							<td>{{.AltNames}}</td>
						</tr>
						{{- end}}
						{{- if .Year}}
						<tr>
							<th>Year</th>
							<td>{{.Year}}</td>
						</tr>
						{{- end}}
						{{- if .Remark}}
						<tr>
							<th>Remarks</th>
							<td>{{.Remark}}</td>
						</tr>
						{{- end}}
						{{- if .ShotpointMin}}
						<tr>
							<th>Shotpoints</th>
							<td>{{.ShotpointMin}} {{- if .ShotpointMax}} - {{.ShotpointMax}}{{- end}}</td>
						</tr>
						{{- end}}
						{{- if .Quadrangles}}
						<tr>
							<th>Quadrangle</th>
							<td>{{range $i, $qd := .Quadrangles}}{{if ne $i 0}}, {{- end}}<a href="../search#quadrangle_id={{$qd.ID}}">{{$qd.Name}}</a>{{- end}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- if .GeoJSON}}

			<fieldset class="fs-map">
				<legend>Geospatial</legend>
				<div id="map"></div>
				<div id="popup" class="ol-popup">
					<div class="ol-popup-top">
						<div class="ol-popup-top-title">Shotline(s)</div>
						<div id="popup-closer">&#215;</div>
					</div>
					<div id="popup-content" class="ol-popup-content"></div>
				</div>
				<script>
					var geojson = {{rawjs .GeoJSON}};
				</script>
			</fieldset>
			<div class="flex-break"></div>
			{{- end}}
			{{- if .KeywordSummary}}

			<fieldset>
				<legend>Inventory</legend>
				<table class="tb-fields tb-columns">
					<thead>
						<tr>
							<th>Keywords</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						{{- range .KeywordSummary}}
						<tr>
							<td><a href="../search#shotline_id={{$.shotline.ID}}{{range .Keywords}}&keyword={{.}}{{- end}}">{{range $i, $kw := .Keywords}}{{if ne $i 0}} &gt; {{end}}{{$kw}}{{- end}}</a></td>
							<td>{{.Count}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- end}}
			{{- if .Files}}

			<fieldset>
				<legend>Files</legend>
				{{- range .Files}}
				<div><a href="../file/{{.ID}}/{{.Name}}">{{.Name}}</a> ({{.FormattedSize}})</div>
				{{- end}}
			</fieldset>
			{{- end}}
			{{- if .URLs}}

			<fieldset>
				<legend>URLs</legend>
				{{- range .URLs}}
				<div><a href="{{.URL}}">{{.Description}}</a> ({{.Type}})</div>
				{{- end}}
			</fieldset>
			{{- end}}
			{{- if and $.user .Notes}}

				<fieldset>
					<legend>Notes</legend>
					<table class="tb-fields tb-columns">
						<thead>
							<tr>
								<th>Date</th>
								<th>User</th>
								<th>Public</th>
								<th>Note</th>
							</tr>
						</thead>
						<tbody>
							{{- range .Notes}}
							<tr>
								<td>{{.Date.Format "1/2/2006"}}</td>
								<td>{{.Username}}</td>
								<td>{{- if .Public}}Yes{{- else -}}No{{- end}}</td>
								<td>{{.Note}}</td>
							</tr>
						{{- end}}
						</tbody>
					</table>
				</fieldset>
			{{- end}}
{{- end}}
