{{with .well}}
			<fieldset class="fs-detail">
				<legend>Web Detail</legend>
				<table class="tb-fields">
					<tbody>
						{{- if .Name}}
						<tr>
							<th>Name</th>
							<td>{{.Name}}</td>
						</tr>
						{{- end}}
						{{- if .AltNames}}
						<tr>
							<th>Alternative names</th>
							<td>{{.AltNames}}</td>
						</tr>
						{{- end}}
						{{- if .Number}}
						<tr>
							<th>Well Number</th>
							<td>{{.Number}}</td>
						</tr>
						{{- end}}
						{{- if .APINumber}}
						<tr>
							<th>API Number</th>
							<td><div><a href="../search#q=api:{{.APINumber}}">{{.APINumber}}</a></div></td>
						</tr>
						{{- end}}
						<tr>
							<th>Onshore</th>
							<td>{{- if .Onshore}}Yes{{- else}}No{{- end}}</td>
						</tr>
						<tr>
							<th>Federal</th>
							<td>{{- if .Federal}}Yes{{- else}}No{{- end}}</td>
						</tr>
						{{- if ne .SpudDate.IsZero true}}
						<tr>
							<th>Spud Date</th>
							<td>{{.SpudDate.Format "1/2/2006"}}</td>
						</tr>
						{{- end}}
						{{- if ne .CompletionDate.IsZero true}}
						<tr>
							<th>Completion Date</th>
							<td>{{.CompletionDate.Format "1/2/2006"}}</td>
						</tr>
						{{- end}}
						{{- if .MeasuredDepth}}
						<tr>
							<th>Measured Depth</th>
							<td>{{.MeasuredDepth}} {{.Unit}}</td>
						</tr>
						{{- end}}
						{{- if .VerticalDepth}}
						<tr>
							<th>Vertical Depth</th>
							<td>{{.VerticalDepth}} {{.Unit}}</td>
						</tr>
						{{- end}}
						{{- if .Elevation}}
						<tr>
							<th>Elevation</th>
							<td>{{.Elevation}} {{.Unit}}</td>
						</tr>
						{{- end}}
						{{- if .ElevationKB}}
						<tr>
							<th>Kelly Bushing Elevation</th>
							<td>{{.ElevationKB}} {{.Unit}}</td>
						</tr>
						{{- end}}
						{{- if .PermitStatus}}
						<tr>
							<th>Permit_Status</th>
							<td>{{.PermitStatus}}</td>
						</tr>
						{{- end}}
						{{- if .CompletionStatus}}
						<tr>
							<th>Completion Status</th>
							<td>{{.CompletionStatus}}</td>
						</tr>
						{{- end}}
						{{- if .GeoJSON}}
						<tr>
							<th>Lon/Lat</th>
							<td id="latlon"></td>
						</tr>
						<script>
							var geojson = {{rawjs .GeoJSON}};
						</script>
						{{- end}}
						{{- if .Quadrangles}}
						<tr>
							<th>Quadrangle</th>
							<td>{{- range $i, $qd := .Quadrangles}}{{- if ne $i 0}}, {{- end}}
								<a href="../search#quadrangle_id={{$qd.ID}}">{{$qd.Name}}</a>{{- end}}
							</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- if .GeoJSON}}

			<fieldset class="fs-map">
				<legend>Geospatial</legend>
				<div id="map"></div>
				<div id="popup" class="ol-popup">
					<div class="ol-popup-top">
						<div id="popup-title"></div>
						<div id="popup-closer">&#215;</div>
					</div>
					<div id="popup-content" class="ol-popup-content"></div>
				</div>
				<script>
					var geojson = {{rawjs .GeoJSON}};
				</script>
			</fieldset>
			<div class="flex-break"></div>

			<script id="tmpl-popup" type="x-tmpl-mustache">
				<table>
						<tbody>
							<tr>
								<th>Name</th>
								<td>[[name]]</td>
							</tr>
							[[#nearby_wells.length]]
							<tr>
								<th>Nearby Wells</th>
							</tr>
							[[/nearby_wells.length]]
							[[#nearby_wells]]
							<tr>
								[[#.]]
								<td id="tmpl-popup-nearby-neighbors"><a href="../well/[[well_id]]">[[name]]</a> ([[distance]] miles)</td>
								[[/.]]
							</tr>
							[[/nearby_wells]]
						</tbody>
					</table>
			</script>
			{{- end}}
			{{- if .KeywordSummary}}

			<fieldset>
				<legend>Inventory</legend>
				<table class="tb-fields">
					<thead>
						<tr>
							<th>Keywords</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						{{- range .KeywordSummary}}
						<tr>
							<td><a href="../search#q=well_id:{{$.well.ID}}{{range .Keywords}}&keyword={{.}}{{- end}}">{{range $i, $kw := .Keywords}}{{if ne $i 0}} &gt; {{end}}{{$kw}}{{- end}}</a></td>
							<td>{{.Count}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- end}}
			{{- if or .Files $.user}}

			<fieldset>
				<legend>Files</legend>
				{{- if $.user}}
					<div id="filedrop" data-well_id="{{.ID}}">
				{{- end}}
				<div class="file-list-container" id="file-list-container">
					{{- range .Files}}
					<div>
					 <span class="gmc-file">
						<a href="../file/{{.ID}}">
						{{.Name}}</a> ({{.FormattedSize}})</span>
					</div>
					{{- end}}
				</div>
				</div>
			</fieldset>
			{{- end}}
			{{- if .Organizations}}

			<fieldset>
				<legend>Operators</legend>
				<table class="tb-fields tb-columns">
					<tbody>
						{{- range $i, $f := .Organizations}}
						{{- if eq $i 0}}
						<tr>
							<th>Current Operator</th>
							<th>Type</th>
						</tr>
							{{- else if eq $i 1}}
						<tr class="tb-spacer-sm">
							<th>Previous Operator(s)</th>
							<th>Type</th>
						</tr>
						{{- end}}
						<tr>
							<td>{{.Name}}</td>
							<td>{{.Type.Name}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- end}}
			{{- if .URLs}}

			<fieldset>
				<legend>URLs</legend>
				{{- range .URLs}}
					<div><a href="{{.URL}}">{{.Description}}</a> ({{.Type}})</div>
				{{- end}}
			</fieldset>
			{{- end}}
			{{- if $.user}}
			{{- if .Notes}}

			<fieldset>
				<legend>Notes</legend>
				<table class="tb-fields tb-columns">
					<thead>
						<tr>
							<th>Date</th>
							<th>Type</th>
							<th>User</th>
							<th>Public</th>
							<th>Note</th>
						</tr>
					</thead>
					<tbody>
					{{- range .Notes}}
						<tr>
							<td>{{.Date.Format "1/2/2006"}}</td>
							<td>{{.NoteType.Name}}</td>
							<td>{{.Username}}</td>
							<td>{{- if .Public}}Yes{{- else}}No{{- end}}</td>
							<td>{{.Note}}</td>
						</tr>
					{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- end}}
			{{- end}}
{{end}}
