			<fieldset class="fs-detail">
				<legend>Web Detail</legend>
				<table class="tb-fields">
					<tbody>
						{{- if .user }}
						<tr>
							<th>user</th>
							<td>{{ .user }}</td>
						</tr>
						{{- end }}

						{{- if .name}}
						<tr>
							<th>Name</th>
							<td>{{.well.name}}</td>
						</tr>
						{{- end}}
						{{- if .well.alt_names}}
						<tr>
							<th>Alternative names</th>
							<td>{{.well.alt_names}}</td>
						</tr>
						{{- end}}
						{{- if .well.well_number}}
						<tr>
							<th>Well Number</th>
							<td>{{ .well.well_number }}</td>
						</tr>
						{{- end }}
						{{- if .well.api_number }}
						<tr>
							<th>API Number</th>
							<td>{{ .well.api_number }}</td>
						</tr>
						{{- end}}
						{{- if .well.is_onshore }}
						<tr>
							<th>Onshore</th>
							<td>Yes</td>
						</tr>
						{{- end}}
						{{- if not .well.is_onshore }}
						<tr>
							<th>Onshore</th>
							<td>No</td>
						</tr>
						{{- end }}
						{{- if .well.is_federal}}
						<tr>
							<th>Federal</th>
							<td>Yes</td>
						</tr>
						{{- end}}
						{{- if not .well.is_federal }}
						<tr>
							<th>Federal</th>
							<td>No</td>
						</tr>
						{{- end }}
						{{- if .well.spud_date }}
						<tr>
							<th>Spud Date</th>
							<td>{{ formattime "1/2/2006" .well.spud_date }}</td>
						</tr>
						{{- end}}
						{{- if .well.completion_date }}
						<tr>
							<th>Completion Date</th>
							<td>{{ formattime "1/2/2006" .well.completion_date }}</td>
						</tr>
						{{- end}}
						{{- if .well.measured_depth}}
						<tr>
							<th>Measured Depth</th>
							<td>{{ .well.measured_depth }} {{ .well.unit }}</td>
						</tr>
						{{- end}}
						{{- if .well.vertical_depth }}
						<tr>
							<th>Vertical Depth</th>
							<td>{{ .well.vertical_depth }} {{ .well.unit }}</td>
						</tr>
						{{- end }}
						{{- if .well.elevation }}
						<tr>
							<th>Elevation</th>
							<td>{{ .well.elevation }} {{ .well.unit }}</td>
						</tr>
						{{- end}}
						{{- if .well.elevation_kb }}
						<tr>
							<th>Kelly Bushing Elevation</th>
							<td>{{ .well.elevation_kb }} {{ .well.unit }}</td>
						</tr>
						{{- end }}
						{{- if .well.permit_status }}
						<tr>
							<th>Permit_Status</th>
							<td>{{ .well.permit_status }}</td>
						</tr>
						{{- end }}
						{{- if .well.completion_status }}
						<tr>
							<th>Completion Status</th>
							<td>{{ .well.completion_status }}</td>
						</tr>
						{{- end}}
						{{- if .geojson}}
						{{range $i, $f := .geojson.features}}{{if ne $i 0}}, {{end}}{{if (eq $f.geometry.type "Point" )}}
						<tr>
							<th>Lon/Lat</th>
							<td> {{$f.geometry.coordinates}}</td>
						</tr>
						{{- end}}
						{{- end}}
						{{- end}}
						{{- if .quadrangles}}
						<tr>
							<th>Quadrangle</th>
							<td>{{range $i, $qd := .quadrangles}}{{if ne $i 0}}, {{end}}<a href="../search#quadrangle_id={{$qd.quadrangle_id}}">{{$qd.name}}</a>{{end}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>

			{{- if .well.geojson}}

			<fieldset class="fs-map">
				<legend>Geospatial</legend>
				<div id="map"></div>
				<div id="popup" class="ol-popup">
					<div class="ol-popup-top">
						<div class="ol-popup-top-title">Borehole(s)</div>
						<div id="popup-closer">&#215;</div>
					</div>
					<div id="popup-content" class="ol-popup-content"></div>
				</div>
				<script>
					var geojson = {{ rawjs .well.geojson }};
				</script>
			</fieldset>
			<div class="flex-break"></div>
			{{- end}}

			{{- if .well.inventory}}
			<fieldset>
				<legend>Inventory</legend>
				{{- $well_id := .well.well_id }}
				<table class="tb-fields">
					<thead>
						<tr>
							<th>Keywords</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						{{- range .well.inventory}}
						<tr>
							<td><a href="../search#well_id={{$well_id}}{{range .keywords}}&keyword={{.}}{{end}}">{{range $i, $kw := .keywords}}{{if ne $i 0}} &gt; {{end}}{{$kw}}{{end}}</a></td>
							<td>{{ .count}}</td>
						</tr>
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- end}}
			{{- if .well.files}}
			<fieldset class="files">
				<legend>Files</legend>
				{{- range .well.files}}
				<div><a href="../file/{{.file_id}}/{{.file_name}}">{{.file_name}}</a> ({{.file_size}})</div>
				{{- end}}
			</fieldset>
			{{- end}}
			{{- if .well.operators}}
			<fieldset>
				<legend>Operators</legend>
				<table class="tb-fields">
					<thead>
						<tr>
							<th>Current Operator</th>
							<th> Type</th>
						</tr>
					</thead>
					<tbody>
						{{- range .well.operators}}
						{{- if .is_current}}
						<tr>
							<td>{{.name}}</td>
							<td>{{.operator_type}}</td>
						</tr>
						<tr class="spacer"></tr>
					</tbody>
					{{- end}}
					{{- end}}
					<!-- Displays Previous Operator header only if there are at least two
					operators listed. -->
						{{range $i, $f := .well.operators}}{{if eq $i 1}}
						<thead>
							<tr>
								<th>Previous Operator(s)</th>
								<th> Type</th>
							</tr>
						</thead>
						{{end}}
						{{- end}}
					<tbody>
						{{- range .well.operators}}
						{{- if not .is_current}}
						<tr>
							<td>{{.name}}</td>
							<td>{{.operator_type}}</td>
						</tr>
						{{- end}}
						{{- end}}
					</tbody>
				</table>
			</fieldset>
			{{- end}}
			{{- if .well.urls}}
			<fieldset class="urls">
				<legend>URLs</legend>
				{{- range .well.urls}}
				<div style="margin: 5px;"><a href="{{.url}}">{{.description}}</a> ({{.url_type}})</div>
				{{- end}}
			</fieldset>
			{{- end}}
